.container {
  height: 100%;
  .top {
    padding-left: var(--safe-left);
    padding-right: var(--safe-right);
    .avatar {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
  }
  .socialContainer {
    padding-left: var(--safe-left);
    .social {
      scroll::scrollbar {
        visibility: hidden;
      }
    }
  }
}
