@font-face {
  font-family: "SimHei-Font";
  src: resource("CustomFonts/simhei SDF");
}

:root {
  font-family: "SimHei-Font";
}

.app-container {
  & > * {
    flex-shrink: 0;
  }
  width: 100%;
  height: 100%;
}
