.container {
  width: 100%;
  height: 100%;
  background-color: #23334c;
  display: flex;
  flex-direction: row;
  --label-color: #f0f4f7;

  .tabs {
    background-color: #1c2f4d;
    .backButton {
      margin: 0;
      padding: 0.5rem 0;
      border: none;
      background-color: none;
      flex-direction: row;
      justify-content: center;
      &:hover {
        .icon {
          opacity: 0.8;
        }
      }
      .icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
    width: 20%;
    .tab {
      height: 2rem;
      align-items: center;
      justify-content: center;
      color: #82a9e0;
      &.active {
        color: #f8fbff;
        background-color: #233f64;
      }
    }
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .title {
      flex-shrink: 0;
      font-size: 1.5rem;
      margin-left: 1rem;
      color: #80a2cf;
    }
    .main {
      flex: 1;
    }
  }
}
