.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .listScroll {
    ::scrollbar {
      visibility: hidden;
    }
    background-color: lightcoral;
    width: 150px;
    height: 100%;
    margin-left: var(--left-margin);
    .list {
      gap: 0.5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .previewSection {
    flex: 1;
    background-color: azure;
  }
  .rightSection {
    margin-right: var(--right-margin);
  }
}
