.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  --right-section-width: 15vw;
  // background-color: pink;
  .leftSection {
    background-color: rgb(33, 41, 60, 0.95);
    padding-left: var(--safe-left);

    height: 100%;
    display: flex;
    flex-direction: column;
    --tabs-height: 45px;
    .tabs {
      height: var(--tabs-height);
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #2c394a;
      .button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #829fc9;
        background-color: rgba(0, 0, 0, 0.01);
        &.selected {
          background-color: rgba(31, 125, 215, 0.2);
          color: #c2d0dd;
        }
      }
    }
    .listContainer {
      flex: 1;
      flex-basis: 0;
      .place-holder {
        visibility: hidden;
      }
      .listWrapper {
        position: absolute;
        height: 100%;
      }
      .list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-top: 0.3rem;
        .row {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          & > * {
            margin: 0.4rem 0.5rem;
          }
        }
      }
    }
  }
  .previewSection {
    flex: 1;
    height: 100%;
    .container {
      height: 100%;
      padding: 0 1rem;
      .pickChampionText {
        font-size: 2.5rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        animation: fade 1.5s ease-in-out alternate infinite;
        & > view {
          background-color: rgba(0, 0, 0, 0.8);
          padding: 0.3rem;
          border-radius: 30%;
        }
      }
    }
  }

  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  .rightSection {
    padding-right: var(--safe-right);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--right-section-width);
    height: 100%;

    .selectedList {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0.5rem;
      & > view {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
    .confirm {
      margin-bottom: var(--bottom-margin);
      background-color: #917047;
      color: white;
    }
  }
  .championLargeSelectWrapper {
    .select {
      padding-left: var(--safe-left);
    }
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - var(--right-section-width));
    height: 100%;
  }
  .expandButton {
    width: 40px;
    height: 100px;
    background-color: #152240;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    &:hover {
      opacity: 0.98;
    }
  }
}
