.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .leftSection {
    background-color: rgb(33, 41, 60, 0.95);
    width: calc(var(--left-margin) + 150px);
    display: flex;
    flex-direction: column;
    --tabs-height: 38px;
    .tabs {
      height: var(--tabs-height);
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #2c394a;
      padding-left: var(--left-margin);
      .button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #829fc9;
        background-color: rgba(0, 0, 0, 0.01);
        &.selected {
          background-color: rgba(31, 125, 215, 0.2);
          color: #c2d0dd;
        }
      }
    }
    .listConatiner {
      height: calc(100vh - var(--tabs-height));
      padding-left: var(--left-margin);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      position: absolute;
      left: 0;
      top: var(--tabs-height);
      .listScroll {
        ::scrollbar {
          visibility: hidden;
        }
        .list {
          gap: 0.7rem;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
  }
  .previewSection {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.8);
    .container {
      height: 100%;
      margin: 0 1rem;
    }
  }
  .rightSection {
    margin-right: var(--right-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .selectedList {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0.5rem;
      & > view {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
    .confirm {
      margin-bottom: var(--bottom-margin);
      background-color: #917047;
      color: white;
    }
  }
}
